html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 144rem;
  font-family: "Commissioner", sans-serif;
  text-align: center;
  color: $dark-color;
}

picture,
img {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  @include media-lg {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

h1 {
  font-size: 4.2rem;
  line-height: 4rem;
  font-weight: 800;
  @include media-md {
    font-size: 5.6rem;
    line-height: 5.6rem;
    letter-spacing: 2px;
  }
  @include media-xl {
    font-size: 8rem;
    line-height: 8.8rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
  @include media-xl {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}
